---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---

<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://matchingbrackets.com/</loc>
  </url>
  <url>
    <loc>https://matchingbrackets.com/about/</loc>
  </url>
  <url>
    <loc>https://matchingbrackets.com/blog/</loc>
  </url>
  <url>
    <loc>https://matchingbrackets.com/videos/</loc>
  </url>
  <url>
    <loc>https://matchingbrackets.com/archives/</loc>
  </url>
  <url>
    <loc>https://matchingbrackets.com/tags/</loc>
  </url>
  <url>
    <loc>https://matchingbrackets.com/contact/</loc>
  </url>
  <url>
    <loc>https://matchingbrackets.com/blog/2026-07-18-shout-out-from-Linux-Mench/</loc>
  </url>
  <url>
    <loc>https://matchingbrackets.com/blog/2026-07-21-12-questions-every-first-time-Linux-user-has/</loc>
  </url>
  <url>
    <loc>https://matchingbrackets.com/blog/2026-08-15-how-to-create-windows-11-installation-media/</loc>
  </url>
</urlset>
